binds {
  Mod+Shift+Backspace hotkey-overlay-title="Session Menu"       { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
  Mod+Shift+Slash     hotkey-overlay-title="Keybind Cheatsheet" { spawn-sh "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }
  Mod+Ctrl+W          hotkey-overlay-title="Wallpaper"          { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; }
  Mod+Ctrl+V          hotkey-overlay-title="Clipboard"          { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
  Mod+Shift+W         hotkey-overlay-title="Toggle StatusBar"   { spawn-sh "qs -c noctalia-shell ipc call bar toggle"; }
  Mod+Space           hotkey-overlay-title="Launcher"           { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }

  Mod+Return  hotkey-overlay-title="Kitty"       { spawn "kitty"; }
  Mod+Shift+B hotkey-overlay-title="Zen Browser" { spawn "zen-browser"; }
  Mod+Shift+F hotkey-overlay-title="Nautilus"    { spawn "nautilus"; }

  XF86AudioMicMute      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
  XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
  XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
  XF86AudioMute         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
  XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

  Mod+O repeat=false { toggle-overview; }

  Mod+W repeat=false { close-window; }

  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+J     { move-window-down; }
  Mod+Ctrl+K     { move-window-up; }
  Mod+Ctrl+L     { move-column-right; }

  Mod+N { focus-workspace-down; }
  Mod+P { focus-workspace-up; }
  Mod+Ctrl+N     { move-window-to-workspace-down; }
  Mod+Ctrl+P     { move-window-to-workspace-up; }

  Mod+1       { focus-column-first; }
  Mod+9       { focus-column-last; }
  Mod+Ctrl+1  { move-column-to-first; }
  Mod+Ctrl+9  { move-column-to-last; }

  Mod+Shift+H     { focus-monitor-left; }
  Mod+Shift+J     { focus-monitor-down; }
  Mod+Shift+K     { focus-monitor-up; }
  Mod+Shift+L     { focus-monitor-right; }

  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+Shift+TouchpadScrollDown      { focus-column-right; }
  Mod+Shift+TouchpadScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+TouchpadScrollDown { move-column-right; }
  Mod+Ctrl+Shift+TouchpadScrollUp   { move-column-left; }

  Mod+TouchpadScrollDown      { set-window-height "-2%"; }
  Mod+TouchpadScrollUp        { set-window-height "+2%"; }
  Mod+TouchpadScrollRight     { set-column-width "-2%"; }
  Mod+TouchpadScrollLeft      { set-column-width "+2%"; }

  Mod+Tab { focus-workspace-previous; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Ctrl+F { fullscreen-window; }

  Mod+C { center-column; }

  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }
  Mod+T { toggle-column-tabbed-display; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
  Mod+Shift+E { quit; }
  Mod+Shift+P { power-off-monitors; }
}
