layout {

    focus-ring {
        active-color   "#b4cbc6"
        inactive-color "#121413"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b4cbc6"
        inactive-color "#121413"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b4cbc6"
        inactive-color "#364b47"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b4cbc680"
    }
}

recent-windows {
    highlight {
        active-color "#b4cbc6"
        urgent-color "#ffb4ab"
    }
}
