layout {

    focus-ring {
        active-color   "#bcce8f"
        inactive-color "#131410"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bcce8f"
        inactive-color "#131410"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bcce8f"
        inactive-color "#3d4c1b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bcce8f80"
    }
}

recent-windows {
    highlight {
        active-color "#bcce8f"
        urgent-color "#ffb4ab"
    }
}
