layout {

    focus-ring {
        active-color   "#cfc88f"
        inactive-color "#141310"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cfc88f"
        inactive-color "#141310"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cfc88f"
        inactive-color "#4c481b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cfc88f80"
    }
}

recent-windows {
    highlight {
        active-color "#cfc88f"
        urgent-color "#ffb4ab"
    }
}
